<div class="sidebar">
    <div class="sidebar-header">

        <a href="https://github.com/LucasWilsonGit" target="_blank" class="github-link">
            <img src="https://avatars.githubusercontent.com/u/55563391" alt="Lucas Wilson" class="github-avatar" />
        </a>

        <div class="github-text">
            <span class="github-name">Lucas Wilson</span>
            <span class="github-title">C++ Developer</span>
            
        </div>

    </div>

    <hr style="width: 100%; margin-bottom: 0;">

    <div class="sidebar-icons">
        <a href="https://github.com/LucasWilsonGit" target="_blank" class="icon-link" aria-label="GitHub">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="mailto:lucas.jonathan.wilson+blog@gmail.com?subject=Blog%20Contact: SUBJECT" class="icon-link" aria-label="Email">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <button onclick="toggleTheme()" class="icon-link theme-toggle" aria-label="Toggle theme" style="padding: 0;">
            <i class="fa-solid fa-circle-half-stroke"></i>
        </button>
    </div>

    <!-- <hr style="width: 100%;"> -->

    <h1>This site is my blog for development projects.</h1>

    <nav>
        <a href="{{ site.baseurl }}/index.html">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="{{ site.baseurl }}/tags.html">
            <i class="fa-solid fa-tags"></i> Tags
        </a>
        <a href="mailto:lucas.jonathan.wilson+blog@gmail.com">
            <i class="fas fa-envelope"></i> Contact
        </a>

        <a class="mobileonly" href="https://github.com/LucasWilsonGit" target="_blank" class="icon-link" aria-label="GitHub">
            <i class="fa-brands fa-github"></i> Github
        </a>

        <button class="mobileonly" onclick="toggleTheme()" class="icon-link theme-toggle" aria-label="Toggle theme">
            <i class="fa-solid fa-circle-half-stroke"></i> Theme
        </button>
    </nav>

    <footer class="sidebar-footer">
        &copy; {{ 'now' | date: "%Y" }} Lucas Wilson
    </footer>
</div>