---
---

@import "theme";

a {
    color: var(--text-link);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    height: 100%;

    a {
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--accent);
        }
    }

    .post-item {
        a {
            font-size: 1.5rem;
        }

        .post-meta {
            font-size: .6rem;
            margin: 0;

            a {
                text-decoration: underline;
                font-size: .6rem;
            }
        }
    }   
}

.post-tag {
    a {
        text-decoration: underline;
    }
}

.page-container {
    display: flex;
    min-height: 100vh;
}
  
.sidebar {
    width: 220px;
    min-height: calc(100vh - 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--surface);
    padding: 1.5rem;
    padding-bottom: 0;

    .sidebar-header {
        display: flex;
        align-items: center;
        
        .github-link {
            display: inline-block;
            margin-right: 0.5rem;
            color: var(--text-link);
            transition: color 0.2s ease-in-out;
    
            &:hover {
            color: var(--accent);
            }
        }
    
        img.github-avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%; // Makes the avatar round
            margin-right: 0.5rem; // Space between the avatar and name
            object-fit: cover; // Ensures the image doesn't stretch
        }

        .github-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            line-height: 1.2;
    
            .github-name {
                font-size: 1rem;
                font-weight: 600;
                color: var(--text);
            }
        
            .github-title {
                font-size: 0.75rem;
                color: var(--muted);
                margin-top: 0.15rem;
            }
        }
    }

    .sidebar-icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        .icon-link {
            font-size: 1rem;
            color: var(--text);
            text-decoration: none;
            transition: color 0.2s ease-in-out;
        
            &:hover {
                color: var(--accent);
                text-shadow: 0 0 6px var(--accent);
            }
        
            &.theme-toggle {
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        .button {
            background: none;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
            color: inherit;
            cursor: pointer;
        }
    }
    

    h1 {
      font-size: 1.1rem;
      font-style: italic;
      margin-bottom: 1.5rem;
      margin-top: 10px;
      color: var(--muted);
    }
  
    nav {
        flex-grow: 1;

        a {
            display: block;
            margin-bottom: 0.5rem;
            color: var(--text);
            text-decoration: none;
            transition: all 0.2s ease-in-out;
    
            &:hover {
                color: var(--accent);
                text-shadow: 0 0 8px var(--accent);
            }
        }
    }

    .sidebar-footer {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }
}
  
.main-content {
    flex: 1;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

.table-wrapper {
    background-color: var(--surface);
    border-collapse: collapse;
    border-spacing: 0;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    vertical-align: center;

    img {
        max-width: 100%;
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
        object-fit: contain;
    }

    .caption {
        font-weight: 200;
        font-size: .8rem;
        text-align: center;
        width: 100%;
        display: block;
    }

    .comparison-grid {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 0;
        background-color: var(--surface-dark);
        width: fit-content;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        border-bottom: 1px solid var(--surface-dark);
    }
    
    .comparison-grid > div {
        background-color: var(--surface);
        padding: 0.75rem 1.25rem;
        text-align: center;
        border-bottom: 1px solid var(--surface-dark);
    }
    
    .comparison-grid > .header {
        background-color: var(--surface-dark);
        font-weight: bold;
        text-align: center;
    }
    
    .comparison-grid > div:nth-child(3n+1) {
        text-align: left;
    }
}

.blog-section-header {
    margin-top: 3rem;
}

figure.highlight {
    margin: 0;
}