---
---

@import "theme";

a {
    color: var(--text-link);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    height: 100%;
    font-size: calc(8px + 1.25vh);

    a {
        text-decoration: none;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: var(--accent);
        }
    }

    .post-item {
        a {
            font-size: 1.5rem;
        }

        .post-meta {
            font-size: .6rem;
            margin: 0;

            a {
                text-decoration: underline;
                font-size: .6rem;
            }
        }
    }   
}

.post-tag {
    a {
        text-decoration: underline;
    }
}

.page-container {
    display: flex;
    min-height: 100vh;
}

@import "sidebar-base";
@import "sidebar-mobile";
  
.main-content {
    flex: 1;
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 0;
}

pre, code {
    white-space: pre-wrap;
    word-break: break-word;
}

.table-wrapper {
    background-color: var(--surface);
    border-collapse: collapse;
    border-spacing: 0;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    vertical-align: center;

    img {
        max-width: 100%;
        width: 100%;
        display: block;
        height: auto;
        margin: 0 auto;
        object-fit: contain;
    }

    .caption {
        font-weight: 200;
        font-size: .8rem;
        text-align: center;
        width: 100%;
        display: block;
    }

    .comparison-grid {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 0;
        background-color: var(--surface-dark);
        width: fit-content;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        border-bottom: 1px solid var(--surface-dark);
    }
    
    .comparison-grid > div {
        background-color: var(--surface);
        padding: 0.75rem 1.25rem;
        text-align: center;
        border-bottom: 1px solid var(--surface-dark);
    }

    @media only screen and (max-width: 767px) {
        .comparison-grid > div {
            padding: 0.5rem;
        }
    }
    
    .comparison-grid > .header {
        background-color: var(--surface-dark);
        font-weight: bold;
        text-align: center;
    }
    
    .comparison-grid > div:nth-child(3n+1) {
        text-align: left;
    }
}

.blog-section-header {
    margin-top: 3rem;
}

figure.highlight {
    margin: 0;
}

figure > pre {
    margin: 0;
}