<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

        <script rel="text/javascript" src="{{ site.baseurl }}/assets/js/themes.js"></script>

        {% for script in layout.scripts %}
            <script src="{{ script }}"></script>
        {% endfor %}

        {% if page.custom_styles %}
            {% assign post_stub = page.name | split: '.' | first %}
            {% for style_file in page.custom_styles %}
                <link rel="stylesheet" href="{{ site.baseurl }}/assets/posts/{{ post_stub }}/{{ style_file }}">
            {% endfor %}
        {% endif %}

    </head>
    <body>
        <div class="page-container">

            {% include sidebar.html %}
        
            <div class="main-content">
                {{ content }}
            </div>
        </div>
    </body>
</html>